In [1]:
import sqlite3

In [3]:
conexion  = sqlite3.connect("base2.db")
cursor = conexion.cursor()

cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)" ) 

conexion.close()

In [4]:
conexion = sqlite3.connect("base2.db")

cursor = conexion.cursor()

cursor.execute("INSERT INTO estudiantes VALUES ('bluenote@googlemail.com','Artes', 'sharon', 27)")

conexion.commit()

conexion.close()

In [5]:
conexion = sqlite3.connect("base2.db")

cursor = conexion.cursor()

cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchone()
print(usuarios)

('bluenote@googlemail.com', 'Artes', 'sharon', 27)

In [6]:
conexion = sqlite3.connect('base2.db')

cursor = conexion.cursor()

usuarios = [
    ('parillaexquesita@vip.com','arquitectura','giulia', 26),
    ('lollipopbusiness@vip.com','contaduria','Rosana', 60),
    ('solfernandez@googlemail.com','estadistica','Sol', 30),
    ('carlitos@googlemail.com','computacion','Carlos', 60),
    ('imprentadetata@vip.com','periodismo','Luciano', 21),
    
]

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)

conexion.commit()

conexion.close()